# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# PyInstaller
build/
dist/
*.spec

# 编辑器
.vscode/
.idea/
*.swp

# 系统
Thumbs.db
Desktop.ini
.DS_Store

# 临时
*.tmp
*.log
_test.log

# 发布产物
release/
bin/*.exe