**/*.map
**/CHANGELOG.md
**/node_modules/**/test/**
**/node_modules/**/tests/**
**/node_modules/**/docs/**
**/node_modules/**/examples/**
**/node_modules/**/bin/**
**/node_modules/.bin/**
**/node_modules/**/*.md
**/node_modules/**/LICENSE*
**/node_modules/**/package-lock.json
**/.vscode/**
**/package-lock.json
